<html>
    <head>
        <title>Blog do Víbora</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog do Víbora</a></h1>
        </div>

        <div>
            <p>Published: 29/10/2016, 16:55</p>
            <h2><a href="">Post Teste</a></h2>
            <p>Oi!</p>
            <p>Tchau!</p>
        </div>
        <div>
            <p>Published: 29/10/2016, 16:57</p>
            <h2><a href="">Post Teste 2</a></h2>
            <p>Oi de novo!</p>
            <p>Tchau de novo!</p>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>
